<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/vista.css">
</head>
<body>

<div class="container">
    <!-- Botón de Cerrar Sesión -->
    <div class="btn-options-container">
        <% if (editData) { %>
            <form action="/user/profile" method="get">
                <div style="text-align: right;">
                    <button type="submit" id="logoutBtn" class="btn-danger">Cancelar</button>
                </div>
            </form>
        <% } else { %>
            <form action="/user/profile/edit" method="get">
                <div style="text-align: right;">
                    <button type="submit" id="logoutBtn" class="btn">Editar Perfil</button>
                </div>
            </form>
            <form action="/user/logout" method="post">
                <div style="text-align: right;">
                    <button type="submit" id="logoutBtn" class="btn-danger">Cerrar Sesión</button>
                </div>
            </form>
        <% } %>
        
    </div>
    
    <% if (!editData) { %>
        <h2>Perfil de Usuario</h2>
    <% } else { %>
        <h2>Editar perfil</h2>
    <% } %>

    <% if (error) { %>
        <p class="error-update__message">
            Error: <%= error %>
        </p>
    <% } %>
    
    <form action="/user/profile/save" method="post" class="form-group">
        <!-- Nombre -->
        <label for="userNombre">Nombre:</label>
        <input 
            type="text" 
            id="userNombre" 
            name="userNombre" 
            value="<%= userData.nombre %>" 
            placeholder="Nombre"
            required
            <% if (!editData) { %>
                readonly
            <% } %>
        >
        
        <!-- Apellido Paterno -->
        <label for="userApellidoP">Apellido paterno:</label>
        <input 
            type="text" 
            id="userApellidoP" 
            name="userApellidoP" 
            value="<%= userData.apellidoP %>" 
            placeholder="Apellido Paterno"
            required
            <% if (!editData) { %>
                readonly
            <% } %>
        >
        
        <!-- Apellido Materno -->
        <label for="userApellidoM">Apellido materno:</label>
        <input 
            type="text" 
            id="userApellidoM" 
            name="userApellidoM" 
            value="<%= userData.apellidoM %>" 
            placeholder="Apellido Materno"
            required
            <% if (!editData) { %>
                readonly
            <% } %>
        >
        
        <!-- Correo Electrónico -->
        <label for="userCorreo">Correo:</label>
        <input 
            type="email" 
            id="userCorreo" 
            name="userCorreo" 
            value="<%= userData.correo %>" 
            placeholder="Correo"
            required
            <% if (!editData) { %>
                readonly
            <% } %>
        >
        
        <!-- Nombre de Usuario -->
        <label for="userUsuario">Username:</label>
        <input 
            type="text" 
            id="userUsuario" 
            name="userUsuario" 
            value="<%= userData.userU %>" 
            placeholder="Usuario"
            required
            <% if (!editData) { %>
                readonly
            <% } %>
        >
        
        <!-- Edad -->
        <label for="userEdad">Edad:</label>
        <input 
            type="number" 
            id="userEdad" 
            name="userEdad" 
            value="<%= userData.edad %>" 
            placeholder="Edad"
            required
            <% if (!editData) { %>
                readonly
            <% } %>
        >
        
        <!-- Género -->
        <label for="userGenero">Genero:</label>
        <select 
            id="userGenero"
            name="userGenero"
            required
            <% if (editData) { %>
                value=<%= userData.genero %>
            <% } %>
            <% if (!editData) { %>
                readonly
            <% } %>
        >
            <% if (editData) { %>
                <% if (userData.genero == 'masculino') { %>
                    <option value="">Selecciona una opción</option>
                    <option value="masculino" selected>Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                <% } else if (userData.genero == 'femenino') { %>
                    <option value="">Selecciona una opción</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino" selected>Femenino</option>
                    <option value="otro">Otro</option>
                <% } else { %>
                    <option value="">Selecciona una opción</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro" selected>Otro</option>
                <% } %>
            <% } else { %>
                <option value="masculino" selected><%= userData.genero %></option>
            <% } %>
        </select>
        
        <!-- Botón de actualización -->
        
        <% if (editData) { %>
            <button id="updateUserBtn" class="button-submit--update" type="submit">Guardar Cambios</button>
        <% } %>
        <!-- <div id="userProfile" class="form-group">
            
        </div> -->
    </form>
</div>

<script>
    function logout() {
        // Aquí puedes agregar la lógica para cerrar sesión
        alert("Cerrando sesión...");
        // Redireccionar al usuario a la página de inicio de sesión (ejemplo)
        window.location.href = "/user/logout";
    }
</script>

</body>
</html>
